.latest-post {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 48px auto;
  text-align: justify;
}

.latest-post-content {
  margin-bottom: 16px;
}

.latest-img {
  width: 800px;
  height: auto;
}

.post-image {
  position: relative;
  width: 800px;
  height: 800px;
}

.post-image > div {
  position: unset !important;
}

.latest-image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.latest-post a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 850px) {
  .latest-post {
    width: 100%;
  }

  .post-image {
    width: 600px;
    height: 600px;
  }
}

@media screen and (max-width: 650px) {
  .post-image {
    width: 350px;
    height: 350px;
  }
}
